@media screen and (max-width: 1200px) {
  html {
    font-size: 12px; }
    html .nav__item {
      margin-right: 1rem; } }

@media screen and (max-width: 1200px) {
  .nav {
    display: none; }
  .hero__instagram {
    display: none; }
  .hero__content {
    margin-left: 0; } }

@media screen and (max-width: 570px) {
  .contacts__phone {
    margin-right: 0;
    text-decoration: none; }
  .contacts__button {
    display: none; } }
